num_epochs = 20               # Train the model over 20 epochs
batch_size = 256               # Process 64 samples per batch
hidden_size = 256             # Use 128 neurons in the hidden layer
learning_rate = 0.01         # Start with a learning rate of 0.001

rel_path_train_images = "mnist-datasets/train-images.idx3-ubyte"
rel_path_train_labels = "mnist-datasets/train-labels.idx1-ubyte"

rel_path_test_images = "mnist-datasets/t10k-images.idx3-ubyte"
rel_path_test_labels = "mnist-datasets/t10k-labels.idx1-ubyte"

rel_path_log_file = "log_predictions.txt"